*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
    --index: calc(1vw+1vh);
}
.sect1{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    

}
.block{
    width: 100%;

    min-height: 80vh;
    display: flex;
}
.left{
    flex: 1;
    flex-direction: column;
}
.right{
    flex: 1;
    background-color: purple;
}
.top__left-block{
    min-height: 20%;


}
.top__left-block p{
    min-width: 70% ;
    font-size:calc(12px + 7*(100vw/1400));
    padding: 20px 0;

}
.top__left-block h1{
    font-weight: 200;
    font-size: calc(27px + 13 * (100vw/1400));
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 15px;
    row-gap: 10px;
  
    
  }
  .midl__left-block{
    min-height: 21%;
   
  }
  .card{
    height: calc(38px + 12 *(100vw/1400));
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  #text{
    width: 100%;
    border: none;
    position: relative;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    background-color: #f4f3f4;
  }
  #text2{
    background-color: #f4f3f4;
    width: 49%;
    height: 100%;
    border: none;
    border-bottom: 1px solid gray;
  }
  #text3{
    background-color: #f4f3f4;
    width: 49%;
    height: 100%;
    border: none;
    border-bottom: 1px solid gray;
  
  }
  #text4{
    background-color: #f4f3f4;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
  
  }
  #text5{
    background-color: #f4f3f4;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 100%;
  
  }
  .bottom__left-block{
    min-height: 30%;

    display: flex;
    

    text-align: center;
    flex-direction: column;
  }
  .cards-coffee{
    display: grid;
    width: 100%;
    margin: 20px 0;
    grid-template-columns: repeat(4,1fr);
    column-gap: 15px;
    row-gap: 15px;
  }
  .coffee{
    height: calc(83px + 47 * (100vw/1400));
    width: calc(83px + 47 * (100vw/1400));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    background-color: black;
    text-align: center;
  }
  .coffee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.bottom__left-block h3{
    font-weight: 200;
    text-align: start;
    font-size: calc(28px + 12 * (100vw/1400));
}
.bottom__left-block .btn{
    height: 60px;
    width: 100%;
    margin: 10px 0;
    font-size: calc(21px + 7*(100vw/1400));
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid gray;
}
@media (max-width:1050px) and (min-width:300px){
    .block{
        flex-direction: column !important;
    }
    
   
}
@media (max-width:772px) and (min-width:250px){
  .block{
      flex-direction: column !important;
  }
  .coffee{
    height: calc(83px + (47 + 47 * 0.7) * ((100vw - 320px)/1400));
    width: calc(83px + (47 + 47 * 0.7) * ((100vw - 320px)/1400));
  }
  .top__left-block p{
    min-width: 70% ;
    font-size:calc(12px + ( 7 + 7 *0.7) * ((100vw - 320px)/1400));
    padding: 20px 0;

}
.top__left-block h1{
    font-weight: 200;
    font-size: calc(27px + (13 + 13 * 0.7) * ((100vw - 320px)/1400));
    
}
  .bottom__left-block{
    

  }
  .cards-coffee{
    grid-template-columns: repeat(2,1fr) !important;
    align-items: center;
    width: 100%;
    
  }
  
 
}